server:
  port: 8080
  servlet:
    context-path: /
spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        temp:
          use_jdbc_metadata_defaults: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${database_url}
    username: ${database_username}
    password: ${database_password}